


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(banner-image.jpd);">
  <div class="container">
    <h1>All Lists</h1>
    <p>Create a list of bookmarked movies!</p>
    <p class="">
      <%= link_to 'Create a list', lists_new_path %>
    </p>
  </div>
</div>

<h1></h1>
<%= link_to 'Create a list', lists_new_path %>


<ul>
  <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list) %> </li>
  <% end %>
</ul>
