


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(banner-image.jpd);">
  <div class="container">
    <h1>All Lists</h1>
    <p>Create a list of bookmarked movies!</p>
      <%= link_to 'Create a list', lists_new_path, class: "btn btn-primary" %>
    </p>
  </div>
</div>

<div class="cards">
  <ul class="list-inline">
    <% @lists.each do |list| %>
      <div class="card-category">
        <li class="list-inline-item"> <%= link_to list.name, list_path(list) %> </li>
      </div>
    <% end %>
  </ul>
</div>
